@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #F3EEEA;
  font-family: 'Bebas Neue', sans-serif;
}
.texts{
  font-family: 'Bebas Neue', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}
.main-text{
  font-size: xx-large;
}
.text{
  font-size: medium;
  text-align: center;
  letter-spacing: 1px;
}
.title{
  color: #131708;
  padding: 4px 15px;
}
.img{
  border-radius: 50%;
  text-align: center;
  width: 540px;
  height: 500px;
  background:
      radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#131708 68% 70%,#0000 72%) 32px 32px/calc(2*32px) calc(2*32px),
      radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#131708 68% 70%,#0000 72%) 32px 32px/calc(2*32px) calc(2*32px),
      radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#131708 68% 70%,#0000 72%) 0 0/calc(2*32px) calc(2*32px),
      radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#131708 68% 70%,#0000 72%) 0 0/calc(2*32px) calc(2*32px),
      repeating-conic-gradient(#f3eeea 0 25%,#0000 0 50%) 0 0/calc(2*32px) calc(2*32px),
      radial-gradient(#0000 66%,#131708 68% 70%,#0000 72%) 0 calc(32px/2)/32px 32px
      #f3eeea;
}
.header{
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  position: absolute;
  top: 50px;
  left: 160px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid #131708 2px;
}
.menu{
  color: #131708;
  margin: 4px 15px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}
.menu:hover{
  background-color: #E6E8E6;
  cursor: pointer;
}
.burguer{
  border: solid 1px #131708;
  width: 20px;
  margin: 2px;
}
a{
  color: #131708;
  text-decoration: none;
}
li{
  list-style: none;
}
.block{
  display: none;
}
.nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.ref{
  padding: 4px;
  margin: 5px 0;
  font-size: 20px;
  color: #131708;
  border-radius: 10px;
}
.ref:hover{
  background-color: #E6E8E6;
}
.social{
  display: flex;
  width: 100px;
  justify-content: space-around;
}
.social .logo{
  margin: 4px;
  outline: none;
  width: 30px;
  height: 30px;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
}
.logo:hover{
  background-color: #E6E8E6;
}
.gallery{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F3EEEA;
}
.gal-1{
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.box{
  width: 13%;
  filter: grayscale(100%);
  transition: 200ms;
}
.box:hover{
  filter: grayscale(0);
  transform: scale(1.5);
  z-index: 1;
}
.empty{
  width: 130px;
  height: 200px;
}
img{
  max-width: 100%;
  display: block;
  outline: 2px #F3EEEA solid;
  outline-offset: -10px;
}
.shape{
  width: 540px;
  height: 500px;
  background: radial-gradient(circle, transparent 20%, #f3eeea 20%, #f3eeea 80%, transparent 80%, transparent) 0% 0% / 64px 64px, radial-gradient(circle, transparent 20%, #f3eeea 20%, #f3eeea 80%, transparent 80%, transparent) 32px 32px / 64px 64px, linear-gradient(#131708 2px, transparent 2px) 0px -1px / 32px 32px, linear-gradient(90deg, #131708 2px, #f3eeea 2px) -1px 0px / 32px 32px #f3eeea;
background-size: 64px 64px, 64px 64px, 32px 32px, 32px 32px;
background-color: #f3eeea;
  border-radius: 50%;
}
.contact-text{
  font-size: xx-large;
  text-align: center;
  width: 450px;
}
.contact{
  width: 540px;
  align-items: baseline;
  font-size: 55px;
  display: flex;
  border-bottom: solid 2px #131708;
  margin-bottom: 40px;
}
.info{
  margin: 0 15px;
  font-size: 20px;
}
.about-shape{
  border-radius: 50%;
  width: 540px;
  height: 500px;
  background: repeating-radial-gradient(circle, transparent, transparent 11.2px, #131708 11.2px, #131708 14.4px), repeating-radial-gradient(circle, transparent, transparent 11.2px, #131708 11.2px, #131708 14.4px), #f3eeea;
background-size: 64px 64px;
background-position: 0 0, 32px 32px, 64px 32px;
background-color: #f3eeea;
}
.credits{
  display: flex;
  flex-direction: column;
  font-size: medium;
}
.lists{
  margin: 5px 0;
  display: flex;
}
.team{
  width: 100px;
  text-decoration: underline;
  text-align: end;
  margin: 0 5px;
}
@media (max-width: 320px) {
  .header{
    width: 320px;
    top: 0;
    left: 0;
  }
  .texts{
    width: 320px;
  }
  .img{
    display: none;
  }
  .main{
    flex-direction: column;
    justify-content: space-evenly;
  }
  .gallery{
    height: auto;
    padding: 100px 0;
  }
  .gal-1{
    flex-direction: column;
  }
  .box{
    width: 60%;
    margin: 5px 0;
  }
  .empty{
    display: none;
  }
  .contact-text{
    width: 320px;
  }
  .contact{
    width: 300px;
  }
  
}